In [66]:
import pandas as pd
bf = pd.read_csv('BF/BF.txt', sep = '\t', header = None, quoting = 3, names = ['geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude', 'feature_class', 'feature_code', 'country_code', 'cc2', 'admin1_code', 'admin2_code', 'admin3_code', 'admin4_code', 'population', 'elevation', 'dem', 'timezone', 'modification_date'])
print(bf.head())

   geonameid                name           asciiname  \
0    2282318              Pouéné              Pouene
1    2285251  Léraba Occidentale  Leraba Occidentale
2    2287216           Kéléouoro           Keleouoro
3    2294066         White Volta         White Volta
4    2298457        Issana Bouga        Issana Bouga

                                      alternatenames  latitude  longitude  \
0                                                NaN   9.72908   -2.78660
1  Badini,La Leraba Occidentale,Leraba,Leraba Occ...  10.28333   -5.11667
2              Keleouoro,Keleworo,Kéléouoro,Kéléworo   9.80748   -4.05023
3  Nakambe,Nakambé,Nakanbe,Nakanbé,Volta Blanche,...   8.70194   -0.99056
4                      Issana Bouga,Lanyung,Lanyunga  10.91667   -1.18333

  feature_class feature_code country_code    cc2 admin1_code  admin2_code  \
0             H          STM           BF    NaN          00          NaN
1             H          STM           BF     CI          00          NaN
2             H          STM           BF  BF,CI          00          NaN
3             H          STM           BF     GH          00          NaN
4             H          STM           BF    NaN          00          NaN

   admin3_code  admin4_code  population  elevation  dem        timezone  \
0          NaN          NaN           0        NaN  226  Africa/Abidjan
1          NaN          NaN           0        NaN  283  Africa/Abidjan
2          NaN          NaN           0        NaN  261  Africa/Abidjan
3          NaN          NaN           0        NaN   75    Africa/Accra
4          NaN          NaN           0        NaN  178    Africa/Accra

  modification_date
0        2023-11-07
1        2023-11-07
2        2023-11-07
3        2023-11-08
4        2023-11-08

In [67]:
sub_bf = bf[['geonameid', 'name','latitude', 'longitude']]
print(sub_bf.head())

   geonameid                name  latitude  longitude
0    2282318              Pouéné   9.72908   -2.78660
1    2285251  Léraba Occidentale  10.28333   -5.11667
2    2287216           Kéléouoro   9.80748   -4.05023
3    2294066         White Volta   8.70194   -0.99056
4    2298457        Issana Bouga  10.91667   -1.18333

In [68]:
#Appliquer les opérations de prétraitement et filtres nécessaires à ce fichier, pour ne garder que les colonnes correspondantes
#Renommez les avec les noms suivants : 'ID', 'location_name', 'lat', 'long'
sub_bf = sub_bf.rename(columns={'geonameid': 'ID', 'name': 'location_name', 'latitude': 'lat', 'longitude': 'long'})

In [69]:
sub_bf.head()

        ID       location_name       lat     long
0  2282318              Pouéné   9.72908 -2.78660
1  2285251  Léraba Occidentale  10.28333 -5.11667
2  2287216           Kéléouoro   9.80748 -4.05023
3  2294066         White Volta   8.70194 -0.99056
4  2298457        Issana Bouga  10.91667 -1.18333

In [70]:
#Sauvegarder ces données dans un fichier CSV, nommez-le burkina_location.csv
sub_bf.to_csv('burkina_location.csv', index=False)

In [71]:
# Charger le fichier CSV burkina_location.csv dans un DataFrame
df_burkina_location = pd.read_csv('burkina_location.csv')

# Extraire les lignes contenant le nom 'Gounghin' 
df_gounghin = df_burkina_location.loc[df_burkina_location['location_name'] == 'Gounghin']

# Sauvegarder les données extraites dans un nouveau fichier CSV
df_gounghin.to_csv('gounghin.csv',  index=False)

In [72]:
#Résultat de l'extraction des lignes contenant le nom 'Gounghin'
df_gounghin.head()

             ID location_name       lat     long
153     2353306      Gounghin  12.06677 -1.42134
7270    2360473      Gounghin  12.62488 -1.36398
10259   2570204      Gounghin  12.31436 -1.37900
10745  10342749      Gounghin  12.06667 -0.15000
10865  11900680      Gounghin  12.35895 -1.54442

In [73]:
# extraire la sous-partie de la base de données (fichier burkina_location.csv), dont les noms les premières lettres des noms de lieux sont compris entre 'A' et 'P' (ordre alphabétique)
df_filtrees = df_burkina_location[df_burkina_location['location_name'].str.startswith(('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P'))]

# Sauvegarder les données extraites dans un nouveau fichier CSV
df_filtrees.to_csv('burkina_location_filtrees.csv', index=False)

In [74]:
#Résultat de l'extraction des lignes contenant le nom 'Gounghin'
df_filtrees

             ID          location_name       lat     long
0       2282318                 Pouéné   9.72908 -2.78660
1       2285251     Léraba Occidentale  10.28333 -5.11667
2       2287216              Kéléouoro   9.80748 -4.05023
4       2298457           Issana Bouga  10.91667 -1.18333
137     2353290  Forêt Classée de Ziga  12.47106 -1.08644
...         ...                    ...       ...      ...
11704  12640344              Kompienga  11.08169  0.72365
11705  12640603               Konglore  11.39510  0.06110
11706  12687046               Monde-So  14.20081 -1.63983
11708  12688712             Kanliyinou  12.15503  0.59881
11712  12746364                 Dabogo  11.49058  0.12698

[8131 rows x 4 columns]

In [75]:
#Identifiez respectivement, la latitude, la longitude minimale et les noms de lieux correspondants
# Trouver l'indice de la ligne avec la latitude minimale
ind_lat_min = df_filtrees['lat'].idxmin()

print("Latitude minimale :", df_filtrees['lat'].min())

# Trouver l'indice de la ligne avec la longitude minimale
ind_long_min = df_filtrees['long'].idxmin()

print("Longitude minimale :", df_filtrees['long'].min())


# Accéder aux noms de lieux correspondants
nom_lieu_lat_min = df_filtrees.loc[ind_lat_min, 'location_name']
nom_lieu_lon_min = df_filtrees.loc[ind_long_min, 'location_name']

print("Nom de la latitude minimale :", nom_lieu_lat_min)
print("Nom de la longitude minimale :", nom_lieu_lon_min)

Latitude minimale : 5.21609
Longitude minimale : -5.65968
Nom de la latitude minimale : Komoé
Nom de la longitude minimale : Banifing

In [65]:
#Quels sont les lieux dont les coordonnées sont comprises entre (lat >= 11 et lon <= 0.5)
df_lieux_filtres = df_burkina_location[(df_burkina_location['lat'] >= 11) & (df['long'] <= 0.5)]

print("les lieux dont les coordonnées sont comprises entre (lat >= 11 et lon <= 0.5) :")
df_lieux_filtres

les lieux dont les coordonnées sont comprises entre (lat >= 11 et lon <= 0.5) :

             ID    location_name       lat     long
5       2353158         Zyonguen  12.36667 -0.45000
6       2353159        Zyiliwèlè  12.38333 -2.73333
7       2353160           Zyanko  12.78333 -0.41667
8       2353161            Zouta  13.14908 -1.28197
9       2353162        Zourtenga  12.95741 -1.28745
...         ...              ...       ...      ...
11706  12687046         Monde-So  14.20081 -1.63983
11707  12688694          Yerfing  11.33747 -3.35025
11709  12688713  Tinonguen-Peulh  11.64924 -0.22063
11711  12720016            Yimdi  12.31014 -1.66322
11712  12746364           Dabogo  11.49058  0.12698

[9282 rows x 4 columns]

In [82]:
# Création du fichier excel du nom : mini_projet
pd.DataFrame().to_excel('mini_projet.xlsx', index=False)

In [84]:
# Importation d'une méthode nécéssaire
from openpyxl import load_workbook

# Écrire les données "gounghin" dans la nouvelle feuille Excel
with pd.ExcelWriter('mini_projet.xlsx', engine='openpyxl', mode='a') as writer:
    writer.book = load_workbook('mini_projet.xlsx')
    df_gounghin.to_excel(writer, sheet_name='Gounghin', index=False)
    writer.save()

/var/folders/9b/b5pljbd5625f5mc8ysz2wrq00000gn/T/ipykernel_56687/3865789807.py:6: FutureWarning: Setting the `book` attribute is not part of the public API, usage can give unexpected or corrupted results and will be removed in a future version
  writer.book = load_workbook('mini_projet.xlsx')
/var/folders/9b/b5pljbd5625f5mc8ysz2wrq00000gn/T/ipykernel_56687/3865789807.py:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [85]:
# Écrire les données "gounghin" dans la nouvelle feuille Excel
with pd.ExcelWriter('mini_projet.xlsx', engine='openpyxl', mode='a') as writer:
    writer.book = load_workbook('mini_projet.xlsx')
    df_filtrees.to_excel(writer, sheet_name='A_to_P', index=False)
    writer.save()

/var/folders/9b/b5pljbd5625f5mc8ysz2wrq00000gn/T/ipykernel_56687/2414305302.py:3: FutureWarning: Setting the `book` attribute is not part of the public API, usage can give unexpected or corrupted results and will be removed in a future version
  writer.book = load_workbook('mini_projet.xlsx')
/var/folders/9b/b5pljbd5625f5mc8ysz2wrq00000gn/T/ipykernel_56687/2414305302.py:5: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()